apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflare-updater-config
  namespace: cloudflare-updater
data:
  CLOUDFLARE_ZONE: "example.com"
  CLOUDFLARE_RECORD: "*.example.com"
  IP_FILE: "/storage/ip"